.copyright {
    position: relative;
    font-family: 'als-hauss-mono', sans-serif;
    color: #333333;

    a,
    a:visited {
        color: #333333;
        border-color: #333333;
    }

    a:hover {
        opacity: .7;
        transition: .5s;
    }

    &__wrapper {
        margin-top: 3em;
        padding-left: 7em;
        font-size: 1.4em;

        img {
            position: absolute;
            left: 0;
            width: 7em;
        }
    }

    // &__text {
    //     font-family: 'als-hauss-mono', sans-serif;
    //     color: #333333;

    //     span {
    //         font-size: 1.4em;
    //         display: block;
    //     }

    //     a,
    //     a:visited {
    //         color: #333333;
    //         border-color: #333333;
    //     }

    //     a:hover {
    //         opacity: .7;
    //         transition: .5s;
    //     }
    // }
}