.how-to-work {
    position: relative;

    &__content {
        margin-left: 10em;

        p {
            width: 30em; // Поправить
        }
    }

    &__img {
        position: absolute;
        top: 15em;
        left: -2em;
        z-index: -1;

        .text-description {
            p {
                width: 7em;
                transform: rotate(-20deg);
            }
        }

        .img-wrapper {
            img {
                width: 16em;
            }
        }
    }

    @media (max-width: $screen-640) {
        &__content {
            margin-left: 0;

            p {
                width: auto;
            }
        }

        &__img {
            position: initial;

            .img-wrapper {
                img {
                    display: block;
                    margin: 0 auto;
                    width: 30em;
                }
            }
        }
    }
}