.how-to-work {
    position: relative;

    &__content {
        p {
            width: 30em; // Поправить
        }

        .content__wrapper {
            display: flex;
            flex-direction: row-reverse;
        }

        .content__text {
            flex: 2;
        }
    }

    &__img {
        transform: translateX(2em) translateY(10em);
        z-index: -1;

        .text-description {
            p {
                width: 7em;
                transform: rotate(-20deg);
            }
        }

        .img-wrapper {
            img {
                width: 16em;
                filter: contrast(10);
            }
        }
    }

    @media (max-width: $screen-640) {
        &__content {
            margin-left: 0;

            p {
                width: auto;
            }
        }

        &__img {
            position: initial;
            width: 30em;
            margin: 0 auto;
            transform: initial;

            .img-wrapper {
                img {
                    display: block;
                    margin: 0 auto;
                    width: 30em;
                }
            }
        }

        .content__wrapper {
            flex-direction: column;
        }
    }
}