@font-face {
    font-family: 'als-gorizont';
    font-display: fallback;
    src: url('../fonts/ALSGorizont2.1-BoldExpanded.woff2') format('woff2'),
    url('../fonts/ALSGorizont2.1-BoldExpanded.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'als-gorizont';
    font-display: fallback;
    src: url('../fonts/ALSGorizont2.1-ExtraBoldExpanded.woff2') format('woff2'),
    url('../fonts/ALSGorizont2.1-ExtraBoldExpanded.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'als-hauss-mono';
    font-display: fallback;
    src: url('../fonts/ALSHaussMono-Regular.woff2') format('woff2'),
    url('../fonts/ALSHaussMono-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

$gray-text: #c0c0c0;

h1 {
    font-family: 'als-gorizont', sans-serif;
    font-weight: 700;
    font-size: 10em;
}

p {
    font-family: 'als-hauss-mono', sans-serif;
    line-height: 1.2;
    font-size: 2em;
}

h2 {
    font-family: 'als-gorizont', sans-serif;
    font-weight: 700;
    font-size: 10em;
    color: #FFFFFF;

    -webkit-text-stroke: .025em #000;
}

.button {
    font-family: 'als-gorizont', sans-serif;
    font-weight: 800;
    padding: 0.5em 1em;
    border: none;
    font-size: 3em;
    border-radius: 1em;

    cursor: pointer;

    &-gray {
        background: $gray-text;
    }

    &-black {
        color: #fff;
        background: #000000;
    }
}

.email {
    padding: 0.5em 1em;
    font-family: 'als-gorizont', sans-serif;
    font-weight: 800;
    font-size: 3em;
    outline: none;
    color: #c9c9c9;
    border: 0.02em solid #8C8C8C;
    border-radius: 1em;
    box-sizing: border-box;

    &::placeholder {
        color: #c9c9c9;
    }
}